{% extends 'rally_nicaragua/base.html' %}{% load static %}
{% block scripts %}
<script src="{% static 'page/js/mapdata.js' %}" defer></script>
<script src="{% static 'page/js/countrymap.js' %}" defer></script>
<script src="{% static 'page/js/readmap.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'page/css/maps.css' %}">
{% endblock %}
{% block content %}

<div style="background-color: gray;">

    {% load breadcrumbs %}
    {% render_breadcrumb %}

</div>


<div class="map">
    <div id="map"></div>
</div>


{% endblock %}