{% extends 'rally_nicaragua/base.html' %}
{% load breadcrumbs %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/breadcrumb.css' %}">
{% endblock %}

{% block content %}

<!-- barra de direcciones -->
{% render_breadcrumb %}


<h2>La información de municipios se está construyendo</h2>

{% if department %}
<h2>Departamento: {{ department.name }}</h2>

{% if municipalities %}
<ul>
  {% for muni in municipalities %}
  <a href="{% url 'municipality-options' municipality_name=muni.name %}">
    <li>{{ muni.name }}</li>
  </a>
  {% endfor %}
</ul>
{% else %}
<p>No hay municipios disponibles para este departamento.</p>
{% endif %}

{% else %}
<p>No se encontró el departamento solicitado.</p>
{% endif %}

{% endblock %}