* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primario-1: #058240;
  --color-primario-2: #87C159;
  --color-primario-3: #ADCACB;

  --color-secundario-1: #6B99C3;
  --color-secundario-2: #FEE3A2;
  --color-secundario-3: #F3C301;

  --color-fondo-1: #D2D2D4;
  --color-fondo-2: #E4E5EA;

  --color-texto-1: #0C151C;
}