/* Reset básico */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

/* Variables globales */
:root {
  /* Colores principales */
  --color-primario-1: #4296CD;

  /* Acentos secundarios */
  --color-secundario-1: #2589C9;
  --color-secundario-2: #063E5F;
  --color-secundario-3: #1E2C3B;
  --color-secundario-4: #e5f6ff;
  --color-secundario-5: #F4FBFF;

  /* Colores de texto */
  --color-texto-1: #2E3C4E; /* Encabezado */
  --color-texto-2: #384653; /* Cuerpo */

  /* Tipografías */
  --font-heading: 'Barlow', sans-serif;
  --font-body: 'Montserrat', sans-serif;

  /* colores basicos  */
  --basico-1:#000000;
  --basico-2:#FFFFFF;
}

/* Aplicación de tipografías */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
}
