{% extends 'rally_nicaragua/base.html' %}
{% block content %}
<h1>Iniciar sesión</h1>

{% if messages %}
  {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <p><label>Usuario:</label> <input type="text" name="username"></p>
  <p><label>Contraseña:</label> <input type="password" name="password"></p>
  <button type="submit">Entrar</button>
</form>

<a href="{% url 'social:begin' 'google-oauth2' %}">Iniciar sesión con Google</a>
{% endblock %}
