{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Niracagua</title>

  <!-- Tailwind CSS -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <!-- lucide icons -->
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

  <!-- icono -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <script src="{% static 'js/navbar.js' %}"></script>


  {% block styles %}{% endblock %} {% block scripts %}{% endblock %}
</head>

<body class="bg-orange-100">
  {% include 'components/navbar.html' %}
  {% block content %} {% endblock %}
  <script>
    // Initialize Lucide icons
    lucide.createIcons();
  </script>


</body>

</html>