{% extends 'rally_nicaragua/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<section class="hero">
  <section class="hero__content">

    <h1 class="hero__title">Bienvenido a Nicaragua</h1>
    <p class="hero__text">Descubre el país de lagos y volcanes.</p>
    <div class="hero__actions">
      <button class="hero__button hero__button--start">Comenzar</button>
      <button class="hero__button hero__button--demo">Ver demo</button>
    </div>

  </section>
  <div class="hero__circle"></div>
</section>

{% endblock %}