<header class="header">
  <div class="navbar">
    <h2 class="navbar__title">
      <a class="navbar__title-link" href="{% url 'page-home' %}">Nicaragua</a>
    </h2>

    <!-- Hamburger menu button -->
    <button class="navbar__hamburger" id="hamburger-button" aria-label="Toggle navigation menu">
      <span class="hamburger__line"></span>
      <span class="hamburger__line"></span>
      <span class="hamburger__line"></span>
    </button>

    <div class="navbar__content">
      {% if user.is_authenticated %}
      <a class="navbar__link navbar__link--stuffed" href="">Perfil</a>
      <a class="navbar__link" href="{% url 'users-logout' %}">Cerrar sesión</a>
      {% else %}
      <a class="navbar__link" href="{% url 'users-register' %}">Registrarse</a>
      <a class="navbar__link navbar__link--stuffed" href="{% url 'users-login' %}">Iniciar sesión</a>
      {% endif %}
    </div>
  </div>
</header>

<!-- Link to your JavaScript file -->
<script src="./script.js"></script>
